
<%if @vehicles.empty?%>
    <h1>No Vehicle Found</h1>
<% else%>

    <div>
      <p><%= link_to "Categories" , root_path %> >> <%= link_to "#{@vehicles.first.category.name}" , results_category_index_path(:category => @vehicles.first.category.id)%></p>
    </div>

    <% if @vehicles.count == 1 %>
      <h1><%=@vehicles.count%> vehicle found in <%= @vehicles.first.category.name %> category.</h1>
    <% else %>
      <h1><%=@vehicles.count%> vehicles found in <%= @vehicles.first.category.name %> category.</h1>
    <% end %>

    <%@vehicles.each do |car|%>

    <p><img src="<%=car.image%>" alt="Car" onerror="this.src='/assets/imageNotFound.jpg'" height="300" width="500"></p>
    <p>Model: <%= link_to car.model , car%></p>

    <%end%>
<% end%>