<div>


<% if show_link%>
<b><p>Vehicle: <%= vehicle.manufacturer%> <%= link_to vehicle.model, vehicle%></p></b>
<p><img src="<%=vehicle.image%>" alt="Car" onerror="this.src='/assets/imageNotFound.jpg'" height="300" width="500"></p>
<% else %>

<div>
      <p><%= link_to "Categories" , root_path %> >> <%= link_to "#{vehicle.category.name}" , results_category_index_path(:category => vehicle.category.id)%> >> <%= link_to "#{vehicle.model}" , vehicle_path(:id => vehicle.id)%></p>
</div>

<b><p>Vehicle: <%= vehicle.manufacturer%> <%=  vehicle.model %></p></b>
<p><img src="<%=vehicle.image%>" alt="Car" onerror="this.src='/assets/imageNotFound.jpg'" height="300" width="500"></p>
<% end %>
<br>

<% if show_all %>

<p><b>Manufacturer: </b><%=vehicle.manufacturer%></p>
<p><b>Model: </b><%=vehicle.model%></p>
<p><b>Price: </b><%=number_to_currency(vehicle.price)%></p>
<p><b>Body Type: </b><%=vehicle.body_type%></p>
<p><b>Engine: </b><%=vehicle.engine%></p>
<p><b>Transmission: </b><%=vehicle.transmission%></p>




    <% if vehicle.stock > 0 %>

        <% if user_signed_in? %>
            <div><%= button_to 'Add to Cart' , cart_create_path(:vehicle_id => vehicle.id) %></div>
        <% else %>
            <div><%= button_to 'Add to Cart' , user_session_path %></div>
        <% end %>
    <% else %>
        <div class = "message_box">
            <p class = "message">Sorry this Vehicle is Currently Unavailable.</p>
        </div>
<% end %>
<% end %>
<br>




</div>