 <div>
    <h3>Filter Vehicles</h3>
 <div>

 <div>
      <%= form_tag(results_search_index_path, method: "get") do %>
      <%= label_tag(:q, "Search:") %>
      <%= text_field_tag(:q) %>
      <%= collection_select(:query_category,:category_id,Category.all.order(:name),:id,:name,{:include_blank => 'Model'})%>
      <%= submit_tag("Search") %>
      <% end %>
</div>

<h1>Vehicles</h1>

<%= paginate @cars %>

<% @cars.each do |car_each|%>

<p><img src="<%=car_each.image%>" alt="Car" onerror="this.src='/assets/imageNotFound.jpg'" height="300" width="500"></p>
<p>Manufacturer: <%= car_each.manufacturer%></p>
<p>Model: <%= link_to car_each.model, car_each%></p>
<p><%=%></p>
<p><%=%></p>
<p><%=%></p>

<% end %>
