 <div>
      <%= form_tag(results_search_index_path, method: "get") do %>
      <%= label_tag(:q, "Search:") %>
      <%= text_field_tag(:q) %>
      <%= collection_select(:query_category,:category_id,Category.all.order(:name),:id,:name,{:include_blank => 'Model'})%>
      <%= submit_tag("Search") %>
      <% end %>
    </div>



<h1><%=@car.manufacturer%> <%=@car.model%></h1> <b><%= @car.deal.name%></b>
<p><img src="<%=@car.image%>" alt="Car" onerror="this.src='/assets/imageNotFound.jpg'" height="300" width="500"></p>
<p><b>Manufacturer: </b><%=@car.manufacturer%></p>
<p><b>Model: </b><%=@car.model%></p>
<p><b>Price: </b>$<%=@car.price%></p>
<p><b>Body Type: </b><%=@car.body_type%></p>
<p><b>Engine: </b><%=@car.engine%></p>
<p><b>Transmission: </b><%=@car.transmission%></p>
<p><b>Stock: </b><%=@car.stock%></p>
