   <div>
      <h2>Categories</h2>
      <% cat = Category.all%>
      <% cat.each do |c|%>
      <p><%= link_to c.name ,results_category_index_path(:category => c.id)%></p>
      <%end%>
   </div>

    <div>
    <%= form_tag(results_filter_index_path, method: "get") do %>
    <%= label_tag(:query, "Filter:") %>
    <%= collection_select(:query_deal,:deal_id,Deal.all.order(:name),:id,:name)%>
    <%= submit_tag("Filter") %>
    <% end %>

   </div>
<%= render partial: 'vehicle',
            object: @car,
            locals: {show_link: false , show_all: true , all: false} %>
            