  <div>
 <h2>Categories</h2>
 <% cat = Category.all%>
 <% cat.each do |c|%>
    <p><%= link_to c.name ,results_category_index_path(:category => c.id)%></p>
    <%end%>
 <div>
 <div>
    <%= form_tag(results_filter_index_path, method: "get") do %>
    <%= label_tag(:query, "Filter:") %>
    <%= collection_select(:query_deal,:deal_id,Deal.all.order(:name),:id,:name,{:include_blank => ''})%>
    <%= submit_tag("Filter") %>
    <% end %>
    <br>
    <br>
 <div>

 <div>
      <%= form_tag(results_search_index_path, method: "get") do %>
      <%= label_tag(:q, "Search:") %>
      <%= text_field_tag(:q) %>
      <%= collection_select(:query_category,:category_id,Category.all.order(:name),:id,:name,{:include_blank => 'Model'})%>
      <%= submit_tag("Search") %>
      <% end %>
</div>
<%if @vehicles.empty?%>
    <h1>No Vehicle Found</h1>
<% else%>
    <% if @vehicles.count == 1 %>
      <h1><%=@vehicles.count%> vehicle found.</h1>
    <% else %>
      <h1><%=@vehicles.count%> vehicles found.</h1>
    <% end %>

    <%@vehicles.each do |car|%>

    <p><img src="<%=car.image%>" alt="Car" onerror="this.src='/assets/imageNotFound.jpg'" height="300" width="500"></p>
    <p>Model: <%= link_to car.model , car%></p>

    <%end%>
<% end%>