<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Sirra Gaddian</h1>
      <p><%= link_to 'Vehicles' , root_path %></p>
      <p><a href="http://localhost:3000/about">About Us</a></p>
      <p><a href="http://localhost:3000/contact">Contact Us</a></p>
      <p><%= link_to 'Sign Up',customer_signup_path%></p>
      <p><%= link_to 'Sign In',customer_signin_path%></p>

    </header>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
