<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Sirra Gaddian" ,root_path , class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Vehicles" ,root_path , class: "nav-link" %>
        </li>
      <% pages = Page.all %>
      <% pages.each do |page| %>

        <li class="nav-item">
          <%= link_to "#{page.title}" ,permalink_path(:permalink => page.permalink) , class: "nav-link" %>
        </li>
      <% end %>
      </ul>
      

      <% if user_signed_in?%>
         <div>
          <a href="<%= showcart_path %>" data-role="button" data-icon="info" data-mini="true"><img src="/assets/cart.png" height="42" width="42"></a>
         </div>
        <div class="dropdown">
           <a href="#" data-role="button" class="dropbtn" data-icon="info" data-mini="true"><img src="/assets/avatar.png" height="42" width="42" margin-left="20"></a>
        <div class="dropdown-content">
          <%= link_to current_user.email , root_path %>
          <%= link_to "View License" , form_path %>
          <%= link_to "View Orders" , order_index_path ,:method => :get%>
        </div>
        </div>
      <%end%>

<div class="center">
      <%= form_tag(results_search_index_path, method: "get" , class: "form-inline my-2 my-lg-0") do %>
      <%# <%= label_tag(:q, "Search:") %>
      <%= text_field_tag :q , "" , class: "form-control mr-sm-2" %>
      <%= collection_select(:query_category,:category_id,Category.all.order(:name),:id,:name,{:include_blank => 'Model'}, {:class=>"custom-select"})%>
      <%= submit_tag "Search" , class: "btn btn-primary" %>
      <% end %>
      </div>
<div class="good">
      <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item ">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete ,class: "btn btn-primary" %>        
           </li>
          <% else %>
            <li class="nav-item ">
            <%= link_to'Sign Up', new_user_registration_path ,class: "nav-link" %> 
            </li>
            <li class="nav-item ">
              <%= link_to 'Sign In', user_session_path , class: "nav-link" %>
            </li>
            <%end%>
      </ul>
    </div>
    </div>
    </nav>


    <hr class="my-4">



    </header>
    <%= yield %>
    <br>
    <br>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright © Sirra Gaddian 2017</p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
</html>
