<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Sirra Gaddian</h1>
      <p><%= link_to 'Vehicles' , root_path %></p>

       <% pages = Page.all %>

      <% pages.each do |page| %>
        <%= link_to "#{page.title}" ,permalink_path(:permalink => page.permalink) %>
        <br>
      <% end %>
      
      <br>

      <% if user_signed_in? %>
          <%= link_to "View License" , form_path %>
      <% end %>
      <br>
      <% if user_signed_in? %>
          <%= link_to "View Cart" , showcart_path ,:method => :get%>
      <% end %>
      <br>
      <% if user_signed_in? %>
          <%= link_to "View Previous Orders" , order_index_path ,:method => :get%>
      <% end %>


      <div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
        <% if user_signed_in? %>
          <div>Signed in as <%= current_user.email %></div>
        <% end %>
      </div>

      <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete ,class: "btn btn-primary" %>        
    <% else %>
      <%= link_to('Sign Up', new_user_registration_path) %> 
      <br>
      <%= link_to 'Sign In', user_session_path %>
    <%end%>

   <div>
      <h2>Categories</h2>
      <% cat = Category.all%>
      <% cat.each do |c|%>
      <p><%= link_to c.name ,results_category_index_path(:category => c.id)%></p>
      <%end%>
   </div>
    <div>
    <%= form_tag(results_filter_index_path, method: "get") do %>
    <%= label_tag(:query, "Filter:") %>
    <%= collection_select(:query_deal,:deal_id,Deal.all.order(:name),:id,:name,{:include_blank => ''})%>
    <%= submit_tag("Filter") %>
    <% end %>
    <br>
    <br>
   </div>
    <div>
      <%= form_tag(results_search_index_path, method: "get") do %>
      <%= label_tag(:q, "Search:") %>
      <%= text_field_tag(:q) %>
      <%= collection_select(:query_category,:category_id,Category.all.order(:name),:id,:name,{:include_blank => 'Model'})%>
      <%= submit_tag("Search") %>
      <% end %>
    </div>
    <br>
    <br>
    <br>
    <br>

    </header>
    <%= yield %>

    <br>
    <footer>
      <div>
        <p class="footer_text">Copywrong Sirra Gaddian 2018</p>
      </div>
    </footer>
  </body>
</html>
